
@media print {
  body * {
    visibility: hidden;
  }

  #jadi-section, #jadi-section * {
    visibility: visible;
  }

  button {
    display: none;
  }

  #jadi-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @page {
    margin: 0;
    size: A4;
  }
}
